.col-form-label {
  font-weight: 700;
}
input.error, select.error, textarea.error {
  border-color: $color-light-red-background;
  box-shadow: inset 1px 1px 1em $color-dark-red;
}
label.error {
  color: $color-dark-red;
  font-style: italic;
  font-weight: 500;
  position: absolute;
  right: 2em;
  top: .5em;
  z-index: 2;
}
label.required:after {
  content: " *";
  color: $color-red;
}
span.required {
  color: $color-red;
}
.input-group label.error {
  right: 1em;
}
.danger-switch:active {
    filter: brightness(90%);
}
.danger-switch:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28220, 53, 69, 1%29'/%3e%3c/svg%3e");
}
.danger-switch:checked {
    background-color: #dc3545;
    border-color: #dc3545;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.token {
  display: inline-block;
  background-color: $color-light-gray-background;
  border: 1px solid $color-light-gray;
  margin: 0.25rem 0.5rem 0.25rem 0;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  .close {
    margin-left: 0.5rem;
    text-decoration: none;
    color: $color-black;
  }
}
.token-input,.token-input:focus-visible {
  border: none;
  outline: none;
}
.tokenfield {
  height: auto !important;
}
.search-input .list-group {
  z-index: 1;
  .list-group-item:first-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}
.input-loader {
  position: absolute;
  top: 0.45rem;
  right: .45rem;
  font-size: 18pt;
}