@mixin nav-hover-effects {
    .navbar-nav {
        > li:not(.user-icon) {
            > a {
                &:before {
                    content: "";
                    background-color: $color-white;
                    height: 1px;
                    width: 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: width .3s cubic-bezier(.55,.085,.68,.53);
                }
                &:hover {
                    text-decoration: none;
                    &:before { width: 100%; }
                }
            }
        }
        .dropdown-menu {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-top: 14px !important;
            &.user-dropdown-menu {
                margin-top: 7px !important;
            }
        }
    }
}
.primary-nav {
    @extend .navbar, .navbar-dark, .d-print-none;
    background-image: linear-gradient(90deg, $color-blue, $primary-color);
    .navbar-nav {
        > li {
            @extend .nav-item, .me-4;
            > a {
                @extend .nav-link;
                color: $color-white;
                font-size: .875rem;
                font-weight: 700;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                position: relative;
            }
        }
    }
    #userDropDown::after {
        display: none;
    }
    $breakpoints: (
        "sm": 576px,
        "md": 768px,
        "lg": 992px,
        "xl": 1200px,
        "xxl": 1400px
    );
    @each $suffix, $size in $breakpoints {
        @media screen and (min-width: $size) {
            &.navbar-expand-#{$suffix} {
                @include nav-hover-effects;
            }
        }
    }
}
.page-nav {
    @extend .navbar,.bg-light,.border-bottom;
    .navbar-nav .nav-link {
        font-family: $font-family-narrow;
        font-weight: 700;
        text-transform: uppercase;
    }
    .dropdown-menu {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        top: 46px;
    }
}