.primary-nav {
    @extend .navbar,.navbar-dark,.d-print-none;
    background-image: linear-gradient(90deg, $color-blue, $primary-color);
    .navbar-nav {
        > li:not(.user-icon) {
            @extend .nav-item,.me-3;
            > a {
                @extend .nav-link;
                color: $color-white;
                font-size: .875rem;
                font-weight: 700;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                position: relative;
                &:before {
                    content: "";
                    background-color: $color-white;
                    height: 1px;
                    width: 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition-duration: .3s;
                    transition-property: width;
                    transition-timing-function: cubic-bezier(.55,.085,.68,.53);
                }
                &:hover {
                    text-decoration: none;
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
    .dropdown-menu {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: 14px !important;
        &.user-dropdown-menu {
            margin-top: 7px !important;
        }
    }
    #userDropDown::after {
        display: none;
    }
}
.page-nav {
    @extend .navbar,.bg-light,.border-bottom;
    .navbar-nav .nav-link {
        font-family: $font-family-narrow;
        font-weight: 700;
        text-transform: uppercase;
    }
    .dropdown-menu {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        top: 46px;
    }
}